*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;

}
html, body{
  height: 100%;
  width: 100%;
}

:root{
  --bg-primary: #0c0c0c;
  --bg-fill: #ec9f0f;
  --text: white;
  --bg-food: #17da48;

}

html{
  background-color: var(--bg-primary);
  color: var(--text);
}

main, section{
  width: 100%;
  height: 100%;

}
section{
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;

}
.infos{
  display: flex;
  justify-content: space-between;
  
}
.info{
  border: 2px solid var(--text);
  padding: 5px;
  border-radius: 8px;
}
.blocks{
  width: 30px;
  height: 30px;
  border: 0.5px solid gray;
}
.board{
  /* border: 1px solid var(--text); */
  flex-grow: 1;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(30px, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(30px, 1fr));
  
  border: 1px solid white;
  gap: 0px;
  height: 100vh;
  
  
}

.fill{
  background-color: var(--bg-fill);
}
.food{
  background-color: var(--bg-food);
}

